@charset "UTF-8";
/*
	전체를 감싸는 부분 시작
*/
html, body, .wrapper {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #4d4d4d;
}
/*
	전체를 감싸는 부분 끝
*/
/*
	header 부분 시작
*/
.header {
	width: 100%;
	background: black;
}

.header ul {
	margin: 0;
	list-style: none;
	padding-left: 0;
	display: flex;
}

.header ul li {
	display: inline-block;
	color: white;
	flex: 1;
	text-align: center;
}

.header ul li a {
	text-decoration: none;
	color: white;
}

.header ul li a:hover {
	color: #00ccff;
	font-size: 30px;
}

.header ul li .pick {
	color: #00ccff;
	font-size: 30px;
}
/*
	header 부분 끝
*/
/*
	middle 부분 시작
*/
.middle {
	width: 100%;
}

.middle ul {
	margin: 0;
	list-style: none;
	padding-left: 0;
	display: flex;
}

.middle ul li {
	display: inline-block;
	color: white;
	flex: 1;
	text-align: center;
	padding: 50px;
}

.middle ul li div {
	height: 200px;
	text-align: center;
}

.middle button {
	border-radius: 10px 0 10px 0;
	background-color: #ff6666;
	border: none;
	color: white;
	padding: 20px 80px;
	font-size: 30px;
	text-align: center;
	margin: 4px;
}

.middle button:hover {
	border-radius: 10px 10px 10px 10px;
	background-color: #ff6666;
}
/*
	middle 부분 끝
*/
/*
	footer 부분 시작
*/
.footer {
	width: 100%;
	position: fixed;
	background-color: black;
	bottom: 0;
}

.footer a {
	text-decoration: none;
	color: white;
}

.footer a:hover {
	color: #00ccff;
}

.footer ul {
	margin: 0;
	list-style: none;
	padding-left: 0;
	display: flex;
}

.footer ul li {
	display: inline-block;
	color: white;
	flex: 1;
	text-align: center;
}
/*
	footer 부분 끝
*/